@import './components/vibeui.css';

* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	word-wrap: break-word;
}
body{
    position: relative;
}
.navbar{
    padding: 0.5rem 2rem;
    box-shadow: 0 8px 5px var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    text-decoration: none;
    padding-left: 2rem;
    color: black;
}
.link:hover{
    color: var(--primary-color);
}
.title{
    display: inline;
}
.image{
    width: 18rem;
    margin: auto;
}
.image img{
    width: 100%;
}
.row{
    padding: 2rem 2rem 0 2rem;
}
.content{
    padding: 1rem;
    width: 26rem;
    font-size: 1rem;
    line-height: 1.5;
    margin: auto;
}
.btns .btn:not(:last-child){
    margin-right: 0.625rem;
}
.footer{
    background: var(--tertiary-color);
}
.snippet-display{
    margin: auto;
    width: 26rem;
}
.snippet-display iframe{
    width: 100%;
    height: auto;
    border: 0;
}
.grid-1-1{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
}
@media screen and (max-width: 480px){
    .snippet-display{
        width: 100%;
    }
}
@media screen and (max-width: 900px){
    .grid-1-1{
        grid-template-columns: 1fr;
    }
    .snippet-display{
        margin-bottom: 1rem;
    }
    .content{
        width: 100%;
    }
}
