:root{
    --primary-color: #8e13fd;
    --secondary-color: #717676bd;
    --tertiary-color: whitesmoke;

    --primary-alert-text: #29438b;
    --primary-alert-bg: #7FD2E6;
    --secondary-alert-text: #696b79;
    --secondary-alert-bg: #eaeaec;
    --success-alert-bg: #84f1c9;
    --success-alert-text: #1b7052;
    --danger-alert-bg: #fcc5c5;
    --danger-alert-text: #dc3545;
    --warning-alert-text: #ff9204;
    --warning-alert-bg: #ffe7c5;
    --close-button: rgb(141, 130, 130);

    --white: #fff;
    --black: #000;
    --red: red;
    --green: green;
    --orange: orange;

    --searchbar-icon-color: #757575;
    --navbar-icons-color: #696b79;
    --slider-bgcolor: #d3d3d3; 
    --slider-track : #d2a1fe;

    --margin: 0.25rem;
    --padding: 0.25rem
}